%h3{id: "#{book.id}"}
  %span.author #{book.author} 
  %span.separator -
  %span.title #{book.title}
  - if book.author && book.title
    = link_to "http://www.amazon.com/gp/search/ref=sr_adv_b/?search-alias=stripbooks&unfiltered=1&field-keywords=&field-author=#{book.author.gsub(/ /, '+')}&field-title=#{book.title.gsub(/ /, '+')}&field-isbn=&field-publisher=&node=&field-p_n_condition-type=&field-feature_browse-bin=&field-subject=&field-language=&field-dateop=&field-datemod=&field-dateyear=&sort=relevanceexprank&Adv-Srch-Books-Submit.x=-433&Adv-Srch-Books-Submit.y=-485", target: '_blank', class: 'btn' do
      %i.icon-book
      %i.icon-search
Best guess author or title:
%ul{class: "#{book.id}"}
  - fields.each do |f|
    %li
      %span.field= f
      = link_to 'author', 'Javascript: void(0);', class: 'field_link'
      |
      = link_to 'flip author', 'Javascript: void(0);', class: 'flipper_link', id: 'author'
      |
      = link_to 'title', 'Javascript: void(0);', class: 'field_link'
%table.table.table-bordered.table-hover{class: "#{book.id}"}
  %thead
    %tr
      %th Author
      %th Title
      %th File Name (toggle #{ link_to 'full path', 'Javascript: void(0);', class: 'name_toggle'} )
      %th File Type
      - if book.for_review
        %th Correct?

  %tbody
    %tr
      %td= best_in_place book, :author, :data => { field: book.author }
      %td= best_in_place book, :title, :data => { field: book.title }
      %td.path{:data => { fullpath: book.fullpath }}= book.partial_path
      %td= book.file_type
      - if book.for_review
        %td= best_in_place book, :for_review, :type => :checkbox, :collection => ["Looks good", "Not good"]
%p 
  Not a book?
  = link_to 'Delete', "#delete", data: {toggle: "modal"}
#delete.modal.small.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "DeleteModal", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Delete Confirmation
  .modal-body
    %p.error-text Are you sure you want to delete this book?
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
    = link_to book_path(book), method: :delete do
      %button.btn.btn-danger{"data-dismiss" => "modal"} Delete