%h1 Welcome Ben!
- if @books.empty?
  Congratulations, you have no books to review!
  = form_tag runcheck_books_path, method: :get do
    = submit_tag "Run Check", class: 'btn', name: nil
- else
  You have #{@book_count} to review.
  %h2 Books!
  = link_to 'regular view', review_books_path
  |
  = link_to 'bulk view', { layout: 'bulk'}
  = form_tag accept_proposed_changed_books_path, method: :put do
    %table.table.table-bordered.table-hover.table-fixed-header.table-striped
      %thead.header
        %tr
          %th Correct?
          %th Author
          %th Title
          %th File Name (toggle #{ link_to 'full path', 'Javascript: void(0);', class: 'name_toggle'} )
          %th File Type
      %tbody
        - @books.each do |book|
          %tr{class: book.id}
            %td= check_box_tag "book_ids[]", book.id, default: true
            %td= best_in_place book, :author, :data => { field: book.author }
            %td= best_in_place book, :title, :data => { field: book.title }
            %td.path{:data => { fullpath: book.fullpath }}= book.partial_path
            %td= book.file_type
    = submit_tag "These Look Good", class: 'btn'
  = paginate @books

:javascript
  $('.table-fixed-header').fixedHeader({topOffset: 0})