%h1 Welcome Ben!
= form_tag books_path, method: :get do
  %div.input-append
    = text_field_tag :query, params[:query], class: 'span4'
    = submit_tag "Search", class: 'btn', name: nil
%p You have #{@book_count} books in the library.
%p Of those #{@book_count} books, #{@books_without_authors} have no author, and #{@books_without_titles} have no titles.
- if @books_without_titles.to_i > 0
  .progress.progress-striped
    .bar{:style => "width: #{ '%.2f' % (( 1.00 - (@books_without_titles.to_f/@book_count.to_f) )* 100)  }%;"}
- if @last_updated_book
  %p 
    The last book you fixed was 
    %strong #{@last_updated_book.title} 
    by 
    %strong #{@last_updated_book.author}.
= link_to 'Get cracking!', Book.no_title.first
%h2 Books!
- @books.each do |book|
  = render book, :fields => book.best_guess_fields

= paginate @books