%h1 Welcome Ben!
- if @books.empty?
  Congratulations, you have no books to review!
  = form_tag runcheck_books_path, method: :get do
    = submit_tag "Run Check", class: 'btn', name: nil
- else
  You have #{@book_count} to review.
  %h2 Books!
  = link_to 'regular view', review_books_path
  |
  = link_to 'bulk view', { layout: 'bulk'}
  - @books.each do |book|
    = render book, :fields => book.best_guess_fields
  = paginate @books