= render @book, :fields => @fields
%ul.pager
  - if @book.previous
    %li.previous
      = link_to '&larr; previous book'.html_safe, @book.previous
  - if @book.next
    %li.next
      = link_to 'next book &rarr;'.html_safe, @book.next