= link_to "Ebook Renamer", root_path, :class => 'brand'
%ul.nav
  %li
    = link_to review_books_path layout: 'bulk' do
      %span.badge.badge-info= Book.to_review.count
      Review
  %li
    = link_to 'Cleaned Books', books_path( status: 'cleaned')